# Ignore node_modules directory
/node_modules

# Ignore .env file
.env

# Ignore build output directory
/build

# Ignore development environment files
/dev

# Ignore log files
*.log

# Ignore editor specific files
.idea/
.vscode/

# Ignore macOS specific files
.DS_Store

# Ignore temporary files
*.tmp

# Ignore package-lock.json (npm)
package-lock.json

# Ignore yarn.lock (Yarn)
yarn.lock
